.tatics li {
  height: 19px;
  list-style-type: circle;
}
.tatics li > span {
  font-family:
    KaTeX_Main,
    Times New Roman,
    serif;
}
.tatics li > span:nth-child(1) {
  margin-right: 3px;
  padding: 0 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: rgba(255 255 255 / 0.1);
}
.code-lg .shiki {
  font-size: 0.8em !important;
  line-height: 1.4em !important;
}
:root {
  --slidev-theme-primary: #7da3b2 !important;
}
